<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a2b9792b-6596-4b60-89c0-68d212bf216a" name="https://maps.googleapis.com TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a2b9792b-6596-4b60-89c0-68d212bf216afileName">https%3A%2F%2Fmaps.googleapis.com-TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
